*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#0f172a;
color:white;
}

/* HERO SECTION */

.hero{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
background:linear-gradient(135deg,#6366f1,#9333ea);
}

.hero-content{
max-width:800px;
padding:20px;
}

.hero h1{
font-size:60px;
margin-bottom:20px;
}

.hero p{
font-size:18px;
margin-bottom:30px;
color:#e2e8f0;
}

/* BUTTONS */

.buttons{
display:flex;
justify-content:center;
gap:20px;
}

.btn{
padding:14px 28px;
border-radius:8px;
text-decoration:none;
font-weight:bold;
transition:0.3s;
}

.primary{
background:white;
color:#4f46e5;
}

.primary:hover{
background:#e5e7eb;
}

.secondary{
border:2px solid white;
color:white;
}

.secondary:hover{
background:white;
color:#4f46e5;
}